body { 

}

@keyframes glow {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: orange;}
    85%  {background-color: yellow;}
    100% {background-color: red;}
}

@keyframes think {
    0%   {background-color: white;}
    50%  {background-color: black;}
    100% {background-color: white;}
}

h1 {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	text-align: center;
	margin-bottom: 60px;
}

.button {
	width:160px;
	height:40px;
	font-weight: bold;
	font-size: 16px;
	color: white;
	background-color: green;
	border-radius: 12px;
	cursor: pointer;
}

.input {
	margin:20px;
	width:300px;
	height:40px;
	padding:5px;
	font-weight: bold;
	font-size: 16px;
}

.question-text {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.answer-text {
	font-size: 42px;
	font-weight: bold;
	color: white;
	text-align: center;
	color:yellow;
}

.pumpkinContainer {
	background-color: transparent;
	min-height:270px;
	width:300px;
	margin:0px auto;
	margin-bottom: 30px;
}

.pumpkin {
	position: absolute;
	z-index: 2;
}

.flame {
	position: absolute;
	z-index: 1;
	margin-top:60px;
	margin-left:40px;
    width: 240px;
    height: 180px;
    border-radius: 100%;
    box-shadow: 0px 0px 60px white;
    /*--add animation here to make lantern flash --*/
 
}

.question-container {
	width: 100%;
	min-height: 40px;
	background-color: transparent;
	margin: 0px auto;
	text-align: center;
}





/*-- footer content --*/
.footer {
	position:absolute;
	width:420px;
	height:539px;
	background-image: url("images/assets/witch.png");
	bottom:0px;
	z-index: -10;
	animation-name: appear;
	animation-duration: 20s;
	animation-delay: 0s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
  	overflow: hidden;
  	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */

}

@keyframes appear {
0% {
	left:-20%;
	opacity:0;
}
40% {
	left:5%;
	opacity:1;
}
60% {
	left:5%;
	opacity:1;
}
80% {
	left:-20%;
	opacity:0;
}
100% {
	left:-20%;
	opacity:0;
}